header{
    height: 120px;
    background-color: rgb(13, 13, 12);
    display: flex;
    
}
li{
    color: rgb(207, 214, 220);
    list-style-type: none;
    padding-left: 20px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    padding: 40px 50%;
    margin: 0px;
    display: flex;
}
body{
    margin: 0px;
}
.logo-ls{
    padding-left: 50px;
}